.site-header {

	padding: 25px 0 50px 0;

	.social {
		display: flex !important;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 25px;

		a {
			display: block;

			img {
				width: 24px;
				height: 24px;
			}

			& + a {
				margin-left: 50px;
			}
		}
	}

	.site-logo {
		text-align: center;
		padding-top: 50px;

		a {
			display: block;
			max-width: 100%;
			margin: 0 auto;

			@include mobile-landscape {
				max-width: 450px;
			}

			@include tablet-landscape {
				max-width: 660px;
			}
			
			img {
				width: 100%;
			}
		}

		.tagline {
			padding-top: 25px;
			max-width: 320px;
			margin: 0 auto;


			@include tablet-landscape {
				max-width: 100%;
			}

			h3 {
				color: $red;
				font-family: $domaine;
				font-size: 1rem;
				line-height: 1.125em;

				@include tablet-landscape {
					font-size: 1.125rem;
				}
			}
		}
	}
}

section.announcement {
	background: $red;
	color: $white;
	text-align: center;
	padding: 20px;

	p {
		font-size: 1rem;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 1.125rem;
		}
	}

	a {
		color: $white;
		font-weight: bold;
		text-decoration: underline;
		display: inline-block;
	}
}