body.home {

	.site-content {
		text-align: center;

		img {
			margin: 0 auto;
		}
	}

	.hero {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}
		
		.info {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 50px;
			}

			.headline {
				padding-bottom: 15px;


				.section-header {
					color: $slate;
				}
			}
		}
	}

	.order-online {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.copy {
			padding: 15px 0 25px 0;
		}

		.location-grid {
			border: 1px solid $slate;
		}

		.location {
			@include aspect-ratio(1, 1);

			@include tablet-landscape {
				@include aspect-ratio(3, 2);
			}

			@include desktop {
				@include aspect-ratio(1, 1);
			}

			& + .location {
				border-top: 1px solid $slate;

				@include mobile-landscape {
					border-top: none;
				}

				@include desktop {
					border-left: 1px solid $slate;
				}
			}

			@include mobile-landscape {
				&:nth-child(odd) {
					border-right: 1px solid $slate;
				}

				&:nth-child(3),
				&:nth-child(4) {
					border-top: 1px solid $slate;
				}
			}

			@include desktop {
				&:nth-child(odd) {
					border-right: none;
				}

				&:nth-child(3),
				&:nth-child(4) {
					border-top: none;
				}
			}

			.content {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.order-now {
				padding: 25px 0;
			}

			.wine-list {
				a {
					color: $red;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.75em;

					span {
						display: block;

						&.label {
							padding-top: 5px;
						}
					}
				}
			}
		}
	}

	.wine-team {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.copy {
			padding: 15px 0 25px 0;
		}

		.contact-grid {
			border: 1px solid $slate;
		}

		.grid-item {
			@include aspect-ratio(1, 1);

			@include tablet-portrait {
				@include aspect-ratio(3, 2);
			}

			& + .grid-item {
				border-top: 1px solid $slate;

				@include mobile-landscape {
					border-top: none;
					border-left: 1px solid $slate;
				}
			}

			.content {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.contact-item {

			.content {
				padding: 25px;
			}

			.header {
				.headline {
					padding-top: 10px;

					h3 {
						color: $red;
						text-transform: uppercase;
						letter-spacing: 0.15em;
						font-size: 0.875rem;
					}
				}
			}

			.contact-info {
				padding-top: 25px;

				.entry {
					h4 {
						text-transform: uppercase;
						letter-spacing: 0.15em;
						font-size: 0.75rem;
						line-height: 1.25em;

						& + p {
							padding-top: 5px;
						}
					}

					p {
						color: $green;
						font-size: 1.25rem;
						word-break: break-all;

						@include tablet-landscape {
							font-size: 1.5rem;
						}

						a {
							color: $green;
							text-decoration: none;
							font-weight: bold;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					+ .entry {
						padding-top: 25px;
					}
				}
			}
		}
	}

	.photo-gallery {
		grid-template-areas:
			"a d"
			"c c"
			"b b";


		@include tablet-portrait {
			grid-template-areas:
				"a b b d"
				"a c c d";
		}

		.left-vertical {
			grid-area: a;
		}

		.middle-top {
			grid-area: b;

			@include mobile-landscape {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.photo {
					width: 50%;
				}
			}			
		}

		.middle-bottom {
			grid-area: c;
		}

		.right-vertical {
			grid-area: d;
		}

		.portrait {
			@include aspect-ratio(400, 545);
		}

		.landscape {
			@include aspect-ratio(16, 9);

			@include mobile-landscape {
				@include aspect-ratio(400, 320);
			}
		}

		.panorama {
			@include aspect-ratio(800, 225);
		}

		.photo {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}