body {
	background: $isabelline;
}

.wrapper {
	@include wrapper-padding;
}

.divider {
	border-top: 2px solid $green;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $green;
		position: absolute;
		top: 3px;
		left: 0;
	}

	&.one-third {
		margin: 0 auto;
		width: 33.3333%;
		max-width: 400px;
	}
}


.grid {
	display: grid;

	&.two-col-grid {
		grid-template-columns: 1fr;

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.four-col-grid {
		grid-template-columns: 1fr;

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}