html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $brandon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $brandon;
	font-weight: 700;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

.btn {
	padding: 4px;
	font-size: 0.875rem;
	line-height: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: inline-block;
	font-family: $brandon;
	font-weight: 900;
	background: $green;
	color: $isabelline;

	.outline {
		display: block;
		border: 1px solid $isabelline;
		padding: 11px 25px 10px 25px;
	}

	&:hover {
		background: $green;
		color: $isabelline;
	}
}


.section-header {
	font-size: 2rem;
	font-family: $domaine;
	color: $red;

	@include mobile-landscape {
		font-size: 2.5rem;
	}

	@include tablet-portrait {
		font-size: 3rem;
	}
}

.copy {
	max-width: 840px;
	margin: 0 auto;

	&.p1 {
		font-size: 1.375rem;
		line-height: 1.25em;

		@include tablet-portrait {
			font-size: 1.875rem;
		}
	}

	&.p2 {
		font-size: 1.125rem;
		line-height: 1.25em;

		@include tablet-portrait {
			font-size: 1.375rem;
		}
	}
}