/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;
$isabelline: #F7F4EA;
$green: #68713F;
$red: #7A342A;
$yellow: #E0AE48;



/* Typography
----------------------------------*/
$brandon: brandon-grotesque, sans-serif;


@font-face {
    font-family: 'Domaine';
    src: url('fonts/DomaineDispSemibold.woff2') format('woff2'),
        url('fonts/DomaineDispSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

$domaine: 'Domaine', serif;
