/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Domaine';
  src: url("fonts/DomaineDispSemibold.woff2") format("woff2"), url("fonts/DomaineDispSemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

/* Media Queries
----------------------------------*/
html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #2D2A32;
  font: 400 100%/1 brandon-grotesque, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700; }

a {
  color: #2D2A32;
  transition: all 0.2s ease-in-out; }

.btn {
  padding: 4px;
  font-size: 0.875rem;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  background: #68713F;
  color: #F7F4EA; }
  .btn .outline {
    display: block;
    border: 1px solid #F7F4EA;
    padding: 11px 25px 10px 25px; }
  .btn:hover {
    background: #68713F;
    color: #F7F4EA; }

.section-header {
  font-size: 2rem;
  font-family: "Domaine", serif;
  color: #7A342A; }
  @media screen and (min-width: 568px) {
    .section-header {
      font-size: 2.5rem; } }
  @media screen and (min-width: 768px) {
    .section-header {
      font-size: 3rem; } }

.copy {
  max-width: 840px;
  margin: 0 auto; }
  .copy.p1 {
    font-size: 1.375rem;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      .copy.p1 {
        font-size: 1.875rem; } }
  .copy.p2 {
    font-size: 1.125rem;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      .copy.p2 {
        font-size: 1.375rem; } }

body {
  background: #F7F4EA; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.divider {
  border-top: 2px solid #68713F; }
  .divider:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #68713F;
    position: absolute;
    top: 3px;
    left: 0; }
  .divider.one-third {
    margin: 0 auto;
    width: 33.3333%;
    max-width: 400px; }

.grid {
  display: grid; }
  .grid.two-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.two-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
  .grid.four-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1280px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(4, 1fr); } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 25px 0 50px 0; }
  .site-header .social {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 25px; }
    .site-header .social a {
      display: block; }
      .site-header .social a img {
        width: 24px;
        height: 24px; }
      .site-header .social a + a {
        margin-left: 50px; }
  .site-header .site-logo {
    text-align: center;
    padding-top: 50px; }
    .site-header .site-logo a {
      display: block;
      max-width: 100%;
      margin: 0 auto; }
      @media screen and (min-width: 568px) {
        .site-header .site-logo a {
          max-width: 450px; } }
      @media screen and (min-width: 1024px) {
        .site-header .site-logo a {
          max-width: 660px; } }
      .site-header .site-logo a img {
        width: 100%; }
    .site-header .site-logo .tagline {
      padding-top: 25px;
      max-width: 320px;
      margin: 0 auto; }
      @media screen and (min-width: 1024px) {
        .site-header .site-logo .tagline {
          max-width: 100%; } }
      .site-header .site-logo .tagline h3 {
        color: #7A342A;
        font-family: "Domaine", serif;
        font-size: 1rem;
        line-height: 1.125em; }
        @media screen and (min-width: 1024px) {
          .site-header .site-logo .tagline h3 {
            font-size: 1.125rem; } }

section.announcement {
  background: #7A342A;
  color: #fff;
  text-align: center;
  padding: 20px; }
  section.announcement p {
    font-size: 1rem;
    line-height: 1.125em; }
    @media screen and (min-width: 1024px) {
      section.announcement p {
        font-size: 1.125rem; } }
  section.announcement a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home .site-content {
  text-align: center; }
  body.home .site-content img {
    margin: 0 auto; }

body.home .hero {
  padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    body.home .hero {
      padding-bottom: 100px; } }
  body.home .hero .info {
    padding-top: 25px; }
    @media screen and (min-width: 768px) {
      body.home .hero .info {
        padding-top: 50px; } }
    body.home .hero .info .headline {
      padding-bottom: 15px; }
      body.home .hero .info .headline .section-header {
        color: #2D2A32; }

body.home .order-online {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.home .order-online {
      padding: 100px 0; } }
  body.home .order-online .copy {
    padding: 15px 0 25px 0; }
  body.home .order-online .location-grid {
    border: 1px solid #2D2A32; }
  body.home .order-online .location {
    position: relative; }
    body.home .order-online .location:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body.home .order-online .location > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    @media screen and (min-width: 1024px) {
      body.home .order-online .location {
        position: relative; }
        body.home .order-online .location:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 66.66667%; }
        body.home .order-online .location > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
    @media screen and (min-width: 1280px) {
      body.home .order-online .location {
        position: relative; }
        body.home .order-online .location:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 100%; }
        body.home .order-online .location > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
    body.home .order-online .location + .location {
      border-top: 1px solid #2D2A32; }
      @media screen and (min-width: 568px) {
        body.home .order-online .location + .location {
          border-top: none; } }
      @media screen and (min-width: 1280px) {
        body.home .order-online .location + .location {
          border-left: 1px solid #2D2A32; } }
    @media screen and (min-width: 568px) {
      body.home .order-online .location:nth-child(odd) {
        border-right: 1px solid #2D2A32; }
      body.home .order-online .location:nth-child(3), body.home .order-online .location:nth-child(4) {
        border-top: 1px solid #2D2A32; } }
    @media screen and (min-width: 1280px) {
      body.home .order-online .location:nth-child(odd) {
        border-right: none; }
      body.home .order-online .location:nth-child(3), body.home .order-online .location:nth-child(4) {
        border-top: none; } }
    body.home .order-online .location .content {
      display: flex;
      justify-content: center;
      align-items: center; }
    body.home .order-online .location .order-now {
      padding: 25px 0; }
    body.home .order-online .location .wine-list a {
      color: #7A342A;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.75em; }
      body.home .order-online .location .wine-list a span {
        display: block; }
        body.home .order-online .location .wine-list a span.label {
          padding-top: 5px; }

body.home .wine-team {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.home .wine-team {
      padding: 100px 0; } }
  body.home .wine-team .copy {
    padding: 15px 0 25px 0; }
  body.home .wine-team .contact-grid {
    border: 1px solid #2D2A32; }
  body.home .wine-team .grid-item {
    position: relative; }
    body.home .wine-team .grid-item:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body.home .wine-team .grid-item > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    @media screen and (min-width: 768px) {
      body.home .wine-team .grid-item {
        position: relative; }
        body.home .wine-team .grid-item:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 66.66667%; }
        body.home .wine-team .grid-item > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
    body.home .wine-team .grid-item + .grid-item {
      border-top: 1px solid #2D2A32; }
      @media screen and (min-width: 568px) {
        body.home .wine-team .grid-item + .grid-item {
          border-top: none;
          border-left: 1px solid #2D2A32; } }
    body.home .wine-team .grid-item .content {
      display: flex;
      justify-content: center;
      align-items: center; }
  body.home .wine-team .contact-item .content {
    padding: 25px; }
  body.home .wine-team .contact-item .header .headline {
    padding-top: 10px; }
    body.home .wine-team .contact-item .header .headline h3 {
      color: #7A342A;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 0.875rem; }
  body.home .wine-team .contact-item .contact-info {
    padding-top: 25px; }
    body.home .wine-team .contact-item .contact-info .entry h4 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 0.75rem;
      line-height: 1.25em; }
      body.home .wine-team .contact-item .contact-info .entry h4 + p {
        padding-top: 5px; }
    body.home .wine-team .contact-item .contact-info .entry p {
      color: #68713F;
      font-size: 1.25rem;
      word-break: break-all; }
      @media screen and (min-width: 1024px) {
        body.home .wine-team .contact-item .contact-info .entry p {
          font-size: 1.5rem; } }
      body.home .wine-team .contact-item .contact-info .entry p a {
        color: #68713F;
        text-decoration: none;
        font-weight: bold; }
        body.home .wine-team .contact-item .contact-info .entry p a:hover {
          text-decoration: underline; }
    body.home .wine-team .contact-item .contact-info .entry + .entry {
      padding-top: 25px; }

body.home .photo-gallery {
  grid-template-areas: "a d" "c c" "b b"; }
  @media screen and (min-width: 768px) {
    body.home .photo-gallery {
      grid-template-areas: "a b b d" "a c c d"; } }
  body.home .photo-gallery .left-vertical {
    grid-area: a; }
  body.home .photo-gallery .middle-top {
    grid-area: b; }
    @media screen and (min-width: 568px) {
      body.home .photo-gallery .middle-top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body.home .photo-gallery .middle-top .photo {
          width: 50%; } }
  body.home .photo-gallery .middle-bottom {
    grid-area: c; }
  body.home .photo-gallery .right-vertical {
    grid-area: d; }
  body.home .photo-gallery .portrait {
    position: relative; }
    body.home .photo-gallery .portrait:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 136.25%; }
    body.home .photo-gallery .portrait > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.home .photo-gallery .landscape {
    position: relative; }
    body.home .photo-gallery .landscape:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    body.home .photo-gallery .landscape > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    @media screen and (min-width: 568px) {
      body.home .photo-gallery .landscape {
        position: relative; }
        body.home .photo-gallery .landscape:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 80%; }
        body.home .photo-gallery .landscape > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
  body.home .photo-gallery .panorama {
    position: relative; }
    body.home .photo-gallery .panorama:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 28.125%; }
    body.home .photo-gallery .panorama > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.home .photo-gallery .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
